<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite 1">
<listeners>
        <listener class-name="basepackage.AnnotationTransformer"/>
  </listeners>

<test name="Fortune_TestCases" >
     <parameter name="browser_name" value="chrome-win-saucelabs"/>
    <classes>
	
	  <class name="homepage.HomeTC_01"/>
	  <class name="homepage.HomeTC_02"/>
	  <class name="sectionpage.SectionTC_01"/>
	  <class name="sectionpage.SectionTC_02"/>
	  <class name="specialpage.SpecialTC_02"/>
	  <class name="specialpage.SpecialTC_01"/>
	  <class name="searchpage.search"/>
    </classes>
    
 </test>
 
 
 
 
 
 
 
</suite>

