<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite 1">



<test name="Ebela HomePage">
    <classes>
        <class name="ebela.ebela_homepage"></class>
    </classes>
</test>


<test name="Ebela SectionPage">
    <classes>
        <class name="ebela.ebela_sectionpage"></class>
    </classes>
</test>

<test name="Ebela TagPage">
    <classes>
        <class name="ebela.ebela_tagpage"></class>
    </classes>
</test>
</suite>

